/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Wp2ywxg089UriCZaSExd86J3t9jz86MvyyKK58VXh.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Wp2ywxg089UriCZaSExd86J3t9jz86MvyyKy58Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Wp2ywxg089UriCZaSExd86J3t9jz86MvyyKK58VXh.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Wp2ywxg089UriCZaSExd86J3t9jz86MvyyKy58Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Wp2ywxg089UriCZaSExd86J3t9jz86MvyyKK58VXh.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Wp2ywxg089UriCZaSExd86J3t9jz86MvyyKy58Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6h9Q.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6h9Q.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6h9Q.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --font-family: "DM Sans";
}

.overlay {
  --fallback-darker-mutual: black;
}

/* Main Bar */
.main_bar {
}

/* Team Name Boxes */
.name_box {
  font-size: 42px;
  height: 77px;
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 800;
  line-height: 0.9;
  font-family: var(--font-family);
}

.left_name_box {
  order: -50;
  justify-content: end;
  text-shadow: 0 0 5px black;
}

.right_name_box {
  order: 50;
  justify-content: start;
  text-shadow: 0 0 5px black;
}

/* Logos */
.logo_box {
  padding: 10px;
  width: 110px;
  height: 77px;
  background: #0f131c;
}

.left_logo_box {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25px 100%);
  padding-left: 27px;
}

.right_logo_box {
  clip-path: polygon(0 0, 100% 0, calc(100% - 25px) 100%, 0 100%);
  padding-right: 27px;
}

/* Score */
.score_box {
  font-size: 52px;
  height: 77px;
  width: 90px;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  font-family: var(--font-family);
}

.left_score_box {
  background: linear-gradient(
    to bottom,
    var(--team-left-primary),
    var(--team-left-primary-dark)
  );
}

.right_score_box {
  background: linear-gradient(
    to bottom,
    var(--team-right-primary),
    var(--team-right-primary-dark)
  );
}

/* Timer */
.time_box {
  color: white;
  font-size: 52px;
  height: 77px;
  width: 200px;
  background: #0f131c;
  font-weight: bold;
  font-family: var(--font-family);
}

.top_bar {
  display: none;
}

/* Bottom Bar */
.bottom_bar {
  height: 30px;
}

/* Series Boxes */
.series_box {
  background-color: #0f131c;
  width: 72px;
}

.left_series_box {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%);
  padding-left: 13px;
  padding-right: 5px;
}

.right_series_box {
  clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
  padding-right: 13px;
  padding-left: 5px;
}

.series_score_box {
  margin-left: 3px;
  margin-right: 3px;
  height: 18px;
  width: 100%;
}

.series_score_box_point {
}

.series_score_box_empty {
}

.left_series_score_box_point {
  background-color: var(--team-left-primary);
}

.left_series_score_box_empty {
  background-color: var(--team-left-primary-dark);
  opacity: 0.5;
}

.right_series_score_box_point {
  background-color: var(--team-right-primary);
}

.right_series_score_box_empty {
  background-color: var(--team-right-rimary-dark);
  opacity: 0.25;
}

/* Game Info */
.game_box {
  background-color: #0f131c;
  font-size: 20px;
  width: 200px;
  font-family: var(--font-family);
}

.series_info_box {
  background-color: #0f131c;
  font-size: 18px;
  min-width: 580px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 10px 100%);
  font-family: var(--font-family);
}

/* Team Box */
.team_box {
  color: white;
  position: absolute;
  top: 190px;
}

.left_team_box {
  left: 0;
}

.right_team_box {
  right: 0;
}

/* Player Box */
.player_box {
  height: 35px;
  width: 265px;
  margin-bottom: 10px;
  background-color: #0f131c;
}

.left_player_box {
}

.right_player_box {
}

.player_name {
  font-size: 22px;
  position: absolute;
  z-index: 50;
  text-shadow: 0 0 5px black;
  top: 3px;
  font-weight: bold;
  text-transform: uppercase;
  text-overflow: ellipsis;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--font-family);
}

.left_player_name {
  left: 8px;
}

.right_player_name {
  right: 8px;
}

/* Boost */
.player_boost {
  opacity: 0;
}

.left_player_boost {
}

.right_player_boost {
}

.boost_meter {
  width: 100%;
  height: 100%;
  position: absolute;
}

.left_boost_meter {
}

.right_boost_meter {
}

.left_boost_meter_bar {
  background: linear-gradient(
    to bottom,
    var(--team-left-primary),
    var(--team-left-primary-dark)
  );
}

.right_boost_meter_bar {
  background: linear-gradient(
    to bottom,
    var(--team-right-primary),
    var(--team-right-primary-dark)
  );
}

/* Stats */
.stat_box {
  background-color: #0f131c;
  height: 40px;
  padding-right: 15px;
  display: flex;
  clip-path: polygon(0 0, calc(100% - 15px) 0%, 100% 100%, 0% 100%);
}

.stat_box_player {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  font-size: 24px;
  height: 36px;
  background: #000;
  text-transform: uppercase;
  text-overflow: ellipsis;
  width: 220px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  font-family: var(--font-family);
}

.stat_box_statistic {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.stat_box_statistic_value {
  font-size: 22px;
  margin-right: 5px;
  min-width: 25px;
  text-align: right;
  font-weight: bold;
  font-family: var(--font-family);
}

.stat_box_statistic_name {
  padding-top: 2px;
  font-size: 20px;
  font-family: var(--font-family);
}

.stat_box_statistic_player_id,
.stat_box_statistic_player_team,
.stat_box_statistic_player_location,
.stat_box_statistic_player_touches {
  display: none;
}

/* Target Boost (the circular meter) */
.target_boost {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: auto;
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  margin-right: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.left_target_boost.target_boost {
  color: var(--team-0-secondary);
}

.right_target_boost.target_boost {
  color: var(--team-1-secondary);
}

.target_boost.entering {
  animation: fadeIn 0.5s ease-in-out;
}

.target_boost.exiting {
  animation: fadeOut 0.5s ease-in-out;
}

.left_target_boost {
  border: 5px solid var(--team-left-mutual);
  background: #07132d;
}

.right_target_boost {
  border: 5px solid var(--team-left-mutual);
  background: var(--team-left-mutual);
}

.target_boost_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.left_target_boost_container {
}

.right_target_boost_container {
}

.target_boost_meter {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.left_target_boost_meter {
  background: conic-gradient(
    var(--team-left-primary-dark) calc(90deg * var(--target_boost) / 100),
    var(--team-left-primary-light) calc(180deg * var(--target_boost) / 100),
    var(--team-left-primary-light) calc(30deg * var(--target_boost) / 100),
    var(--team-left-primary) calc(270deg * var(--target_boost) / 100),
    var(--team-left-primary-dark) calc(360deg * var(--target_boost) / 100),
    var(--fallback-darker-mutual) calc(0deg * var(--target_boost) / 100)
  ) !important;
  transition: all 0.5s ease-in-out;
}

.right_target_boost_meter {
  background: conic-gradient(
    var(--team-right-primary-dark) calc(90deg * var(--target_boost) / 100),
    var(--team-right-primary-light) calc(180deg * var(--target_boost) / 100),
    var(--team-right-primary-light) calc(30deg * var(--target_boost) / 100),
    var(--team-right-primary) calc(270deg * var(--target_boost) / 100),
    var(--team-right-primary-dark) calc(360deg * var(--target_boost) / 100),
    var(--fallback-darker-mutual) calc(0deg * var(--target_boost) / 100)
  ) !important;

  transition: all 0.5s ease-in-out;
}

.target_boost_meter_inner {
  position: absolute;
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: 50;
}

.left_target_boost_meter_inner {
  background: var(--team-left-mutual);
}

.right_target_boost_meter_inner {
  background: var(--team-left-mutual);
}

.target_boost_svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target_boost_svg_circle {
  stroke-dasharray: 4 25%;
  stroke-width: 41;
  stroke-dashoffset: 18;
  fill: transparent;
}

.left_target_boost_svg_circle {
  stroke: var(--team-left-mutual);
}

.right_target_boost_svg_circle {
  stroke: var(--team-left-mutual);
}

.target_boost_value {
  position: absolute;
  z-index: 500;
  color: white;
  font-size: 2rem;
}

.left_target_boost_value {
}

.right_target_boost_value {
}

/* Target Boost END */
